# Ignore node_modules directory
node_modules/

# Ignore built output
dist/

# Ignore TypeScript build artifacts
*.js
*.js.map

# Ignore editor-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore logs
*.log

#Ignore output directory
out