<!DOCTYPE html>
<html>

<head>
    <title>LTL Tutor Authoring Aid</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>

        function addDistractor() {
            var distractorList = document.getElementById("distractorList");
            var newDistractor = document.createElement("li");
            // Generate a random name starting with distractor
            let name = "distractor" + Math.floor(Math.random() * 1000);

            // Add input fields with placeholder text
            newDistractor.innerHTML = '<input type="text" class="form-control" name="' + name + '" placeholder="Enter distractor">' +
                '<textarea class="form-control" name="' + name + '_misconceptions" placeholder="Enter misconceptions (comma separated)"></textarea>';

            distractorList.appendChild(newDistractor);
        }


        function addQuestion() {

            // Get the question and answer fields
            var questionField = document.getElementById("question");
            var answerField = document.getElementById("answer");

            // Access the values
            var question = questionField.value;
            var answer = answerField.value;

            // Get all the selected inputs
            var selectedInputs = document.querySelectorAll('input[type="checkbox"]:checked');

            // Get the name of each checked item

            var correctAnswer = {
                "option": answer,
                "isCorrect": true,
                "misconceptions": []
            };
            var options = [correctAnswer];
            selectedInputs.forEach(function (input) {
                var name = input.name;
                var nameParts = name.split(":");
                var misconceptions = nameParts[1].split(",").map(misconception => misconception.trim());

                var option = {
                    "option": nameParts[0].trim(),
                    "isCorrect": false,
                    "misconceptions": misconceptions
                };
                options.push(option);
            });


            // Get all the elements in the list distractorList
            var manualDistractors = document.getElementById("distractorList").getElementsByTagName("li");
            //Get the value of each element
            for (var i = 0; i < manualDistractors.length; i++) {
                var option = {
                    "option": manualDistractors[i].getElementsByTagName("input")[0].value,
                    "isCorrect": false,
                    "misconceptions": manualDistractors[i].getElementsByTagName("textarea")[0].value.split(",").map(misconception => misconception.trim())
                };
                options.push(option);
            }


            var data = {
                "question": question,
                "options": options
            };


            // Add data as a child of the exercise_set div
            var exerciseSet = document.getElementById("exercise_set");
            var newQuestion = document.createElement("div");
            newQuestion.classList.add("card");


            // Format this better
            newQuestion.innerHTML = '<h4 class="card-title">' + question + '</h4>';


            let qoptions = document.createElement("div");
            qoptions.classList.add("card-body");
            qoptions.innerHTML = '<ul class="card-text">'
            options.forEach(function (option) {
                qoptions.innerHTML += '<li>' + option.option + '</li>';
            });
            qoptions.innerHTML += '</ul>';
            newQuestion.appendChild(qoptions);
            let asJSON = JSON.stringify(data);
            let hiddenJSON = document.createElement("div");
            hiddenJSON.className = "questionJSON";
            hiddenJSON.innerText = asJSON;
            hiddenJSON.style.display = "none";
            newQuestion.appendChild(hiddenJSON);

            exerciseSet.appendChild(newQuestion);

            console.log("Adding question to exercise set")
            console.log(exerciseSet)


            // Clear the question and answer fields
            questionField.value = "";
            answerField.value = "";

            // Clear the generated div
            var generated = document.getElementById("generated");
            generated.innerHTML = "";


            // TODO: BUG: THIS IS NOT SAVED WHEN THE FORM IS RESUBMITTED


        }


        function downloadExercise() {
            var exerciseSet = document.getElementById("exercise_set");
            var questions = exerciseSet.getElementsByClassName("questionJSON");
            var data = [];
            for (var i = 0; i < questions.length; i++) {
                data.push(JSON.parse(questions[i].innerText));
            }
            var blob = new Blob([JSON.stringify(data)], {
                type: "application/json"
            });
            var url = URL.createObjectURL(blob);
            var a = document.createElement('a');
            a.href = url;

            let jsonName = document.getElementById("exercise_name").value;
            jsonName.replace(" ", "_");
            jsonName.replace(":", "_");
            jsonName.replace(";", "_");
            jsonName.replace(",", "_");
            a.download = `${jsonName}.json`;
            a.click();
        }


        document.addEventListener('DOMContentLoaded', (event) => {
            var targetNode = document.getElementById('exercise_set');
            var config = { attributes: true, childList: true, subtree: true };

            var callback = function (mutationsList, observer) {
                for (let mutation of mutationsList) {
                    if (mutation.type === 'childList') {
                        var exercisesContent = targetNode.innerHTML;
                        var exercisesField = document.getElementById('exercisesofar');
                        exercisesField.value = exercisesContent;
                    }
                }
            };

            var observer = new MutationObserver(callback);
            observer.observe(targetNode, config);
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="container mt-4">
            {% include 'navbar.html' %}
            <h1>Author an Exercise</h1>

            <div class="form-group">
                <input type="text" class="form-control" id="exercise_name" name="exercise_name"
                    placeholder="Enter Exercise Name" required>
            </div>


            <form action="/authorquestion" method="POST">
                <div class="form-group">


                    <label for="kind">Question kind:</label>


                    <select class="form-control" id="kind" name="kind" required>
                        {% if kind == "englishtoltl" %}
                        <option value="englishtoltl" selected>English to LTL</option>
                        <option value="tracesatisfaction_mc">Trace Satisfaction (Multiple Choice)</option>
                        <option value="tracesatisfaction_yn">Trace Satisfaction (Yes/No)</option>
                        {% elif kind == "tracesatisfaction_mc" %}
                        <option value="englishtoltl">English to LTL</option>
                        <option value="tracesatisfaction_mc" selected>Trace Satisfaction (Multiple Choice)</option>
                        <option value="tracesatisfaction_yn">Trace Satisfaction (Yes/No)</option>
                        {% elif kind == "tracesatisfaction_yn" %}
                        <option value="englishtoltl">English to LTL</option>
                        <option value="tracesatisfaction_mc">Trace Satisfaction (Multiple Choice)</option>
                        <option value="tracesatisfaction_yn" selected>Trace Satisfaction (Yes/No)</option>
                        {% else %}
                        <option value="englishtoltl">English to LTL</option>
                        <option value="tracesatisfaction_mc">Trace Satisfaction (Multiple Choice)</option>
                        <option value="tracesatisfaction_yn">Trace Satisfaction (Yes/No)</option>
                        {% endif %}
                    </select>


                    <label for="question">Question:</label>

                    {% if question %}
                    <input type="text" class="form-control" id="question" name="question" value="{{ question }}"
                        required>
                    {% else %}

                    <input type="text" class="form-control" id="question" name="question" required>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="answer">Answer:</label>
                    {% if answer %}
                    <input type="text" class="form-control" id="answer" name="answer" value="{{ answer }}" required>
                    {% else %}
                    <input type="text" class="form-control" id="answer" name="answer" required>
                    {% endif %}


                </div>
                <input type="hidden" id="exercisesofar" name="exercisesofar">
                <div class="btn-group mb-5" role="group" aria-label="operations">
                    <button type="submit" class="btn btn-primary">Suggest Distractors</button>
                    <button type="button" class="btn btn-primary" onclick="addDistractor()">Add Distractor</button>
                </div>
            </form>
            <script>

                // document.querySelector('form').addEventListener('submit', function (e) {
                //     let x = document.getElementById('exercise_set').innerHTML;

                //     console.log("Setting exercisesofar to:")
                //     console.log(x)
                //     // Copy the content of the div into the hidden input field
                //     document.getElementById('exercisesofar').value = x;

                //     console.log("Now confirming")
                //     console.log(document.getElementById('exercisesofar').value)
                // });


            </script>

            <div class="container" id="generated">

                {% if error %}
                <div class="alert alert-danger" role="alert"> <strong>Error:</strong> {{ error }} </div>
                {% endif %}


                {% if distractors %}
                <h2>Here are some potential distractors</h2>
                {% endif %}
                <ul class="list-group">
                    {% for distractor in distractors %}
                    <li class="list-group-item">
                        <input type="checkbox" id="{{ distractor.code }}"
                            name="{{ distractor.formula }} : {{ distractor.code }}">
                        <label for="{{ distractor.code }}"><strong>{{ distractor.code }}</strong>:
                            <code>{{ distractor.formula }}</code></label>
                    </li>
                    {% endfor %}

                </ul>

                <ul class="list-group" id="distractorList">
                    <!-- Existing distractors -->
                </ul>
            </div>
            <div class="container">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="addQuestion()">Save
                    Question</button>
            </div>
        </div>

        <div class="container mb-5 px-sm-5" id="exercise_set">
            {% if exerciseset %}
            {{ exerciseset | safe }}
            {% else %}
            <h2>Exercise Set</h2>
            <button type="button" class="btn btn-primary" onclick="downloadExercise()">Download Exercise As
                JSON</button>
            {% endif %}
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>