<!DOCTYPE html>
<html>
<head>
    <title>LTL Tutor: {{ exercise_name }}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script src="{{ url_for('static', filename='js/common-functionality.js') }}"></script>
    <script src="{{ url_for('static', filename='js/checkanswers.js') }}"></script>

</head>
<body>
    <div class="container">
        <h1>{{ exercise_name }}</h1>
        <div id="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4> Which of the following LTL formulae best represents this English sentence?</h4>
        <div id="questions">
            {% for q in questions %}
            <div class="card mt-4 question">
                <div class="card-body">
                    <h5 class="card-title">{{ q.question }}</h5>


                    <!-- TODO: Find if question is correct, and log appropriately if it is not. Maybe check answers, etc. -->
                    <ul class="list-group">
                        {% for option in q.options %}
                        <li class="list-group-item">
                            <input type="radio" name="option" id="{{ loop.index }}" class="option" 
                                    value="{{ option.option }}" 
                                    data-misconceptions="{{ option.misconceptions }}"
                                    data-correct = "{{ option.isCorrect }}">
                            <label for="option{{ loop.index }}">{{ option.option }}</label>
                        </li>
                        {% endfor %}


                    </ul>
                    <button class="btn btn-primary" onclick="engtoltl_getfeedback(this)">Check Answer</button>
                    <button class="btn btn-primary next">Next Question</button>
                </div>
            </div>
            {% endfor %}
        </div>


        <div id="feedback">

        </div>

        <div id="done" style="display: none;">
            <h2>Exercise done!</h2>
            <p>Correct answers: <span id="correctCount">0</span></p>
            <p>Incorrect answers: <span id="incorrectCount">0</span></p>
            <h2> <a href="/"> Go Home </a> </h2>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function() {
        // Hide all questions at the start
        $('.question').hide();

        // Show the first question
        $('.question:first').show();

        // When the "Next" button is clicked, hide the current question and show the next one
        $('.next').click(function() {
            // Empty the feedback div
            $('#feedback').empty();
            var nextQuestion = $(this).closest('.question').hide().next('.question');
            if (nextQuestion.length) {
                // If there is a next question, show it
                nextQuestion.show();
            } else {
                // If there are no more questions, show the "done" section
                $('#done').show();
            }

            // Update the progress bar
        var progressBar = $('.progress-bar');
        var newProgress = parseInt(progressBar.attr('aria-valuenow')) + progressIncrement;
        progressBar.attr('aria-valuenow', newProgress);
        progressBar.css('width', newProgress + '%');
        });
    });
    </script>
</body>
</html>