<!DOCTYPE html>
<html>
<head>
    <title>LTL Tutor: {{ exercise_name }}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/checkanswers.js') }}"></script>


</head>
<body>
    <div class="container">
        <h1>{{ exercise_name }}</h1>
        <div id="questions">
            {% for q in questions %}
            <div class="card mt-4 question">
                <div class="card-body">
                    <h5 class="card-title">{{ q.question }}</h5>


                    <!-- TODO: Find if question is correct, and log appropriately if it is not. Maybe check answers, etc. -->
                    <ul class="list-group">
                        {% for option in q.options %}
                        <li class="list-group-item">
                            <input type="radio" name="option" id="{{ loop.index }}" class="option" 
                                    value="{{ option.option }}" 
                                    data-misconceptions="{{ option.misconceptions }}"
                                    data-correct = "{{ option.isCorrect }}">
                            <label for="option{{ loop.index }}">{{ option.option }}</label>
                        </li>
                        {% endfor %}


                    </ul>
                    <button class="btn btn-primary" onclick="getfeedback(this)">Check Answer</button>
                    <button class="btn btn-primary next">Next Question</button>
                </div>
            </div>
            {% endfor %}
        </div>


        <div id="feedback">

        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function() {
        // Hide all questions at the start
        $('.question').hide();

        // Show the first question
        $('.question:first').show();

        // When the "Next" button is clicked, hide the current question and show the next one
        $('.next').click(function() {
            // Empty the feedback div
            $('#feedback').empty();
            $(this).closest('.question').hide().next('.question').show();

            // TODO: When done, show a section that says exercise done.
        });
    });
    </script>
</body>
</html>