<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTL Tutor</title>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/common-functionality.js') }}"></script>
</head>

<body>

    <div class="container mt-4">
        {% include 'navbar.html' %}
        <p class="badge badge-light" id="userid_field"> </p>

        <p> If you have not used this tool before, we recommend <a href="/ltl"><button>Going through LTL documentation</button></a>. </p>

        <form action="/exercise/predefined" method="post">
            <input type="hidden" name="sourceuri" value="preload:1710exercise.json">
            <p>If you are familiar with LTL, we recommend starting with this <button type="submit">pre-loaded exercise</button> </p>
        </form>
        <p> You can also  </button><a href="/exercise/generate"> <button>load personalized exercises </button></a>, though these are most useful after you have completed the pre-loaded exercise.</p>
    </div>

</body>

</html>