<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTL Tutor</title>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.1.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/common-functionality.js') }}"></script>


    
</head>

<body>
    <!-- The number of misconceptions needed before review -->
    {% set threshold = 5 %}

    <div class="container">
        {% include 'navbar.html' %}
        <br>

        {% if misconception_count is not defined or misconception_count < threshold %}
        <div class="card-body bg-light">
            <h4 class="card-title">Getting Started with this tool?</h4>
            <p class="card-text">
            Once you are familiar with <a href="/ltl"> LTL syntax </a> used by this tool, we recommend starting with
            <a href="/entryexitticket/entry"> <button class="button btn-primary"> this exercise </button> </a>.
            </p>
        </div>
        {% elif misconception_count > threshold %}
        <!-- TODO: We could make this dismissable, and show another if needed. -->
        <div class="shadow p-3 mb-2 mt-2 bg-light rounded">
            {% include max_misconception %}
        </div>

        {% endif %}


        <div class="card-body bg-light mt-1 mb-1"> 
            <h4 class="card-title">Begin a new exercise!</h4>
            <p class="card-text"> <a href="/exercise/generate"> <button class="button btn-primary">Generate a personalized exercise </button></a> based on your previous responses. Exercises can be generated
                indefinitely, and weight recent errors more heavily. More details are available on your
                <a href="/getmy/model">User Model</a> page.
            </p>
        </div>


        <!-- TODO: This shouldn't show the model, rather, depending on the misconception, it should open the correct page. -->
        {% if misconception_count is defined and misconception_count < threshold %}
            <div class="alert-secondary alert">
                <strong> Still identifying areas for review</strong>
                <p>An area or concept for review will appear once you have completed a few more exercises.</p>
            </div>
        {% endif %}

        {% if misconception_count is not defined or misconception_count > threshold %}
        <div class="card-body bg-light ">
            <h4 class="card-title">Done using the tutor?</h4>
            <p class="card-text"> If you feel like this tutor cannot teach you any more about Linear Temporal Logic,  
                we ask that you complete 
                <a href="/entryexitticket/exit"> <button class="button btn-primary">this exit ticket </button></a>.
            </p>
        </div>
        {% endif %}
    </div>
</body>

</html>