<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTL Tutor</title>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.1.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/common-functionality.js') }}"></script>
    <meta name="description" content="Learn Linear Temporal Logic (LTL) with this interactive tutor.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    
</head>

<body>
    <!-- The number of misconceptions needed before review -->
    {% set threshold = 5 %}

    <div class="container">
        {% include 'navbar.html' %}

        {% if misconception_count is not defined or misconception_count < threshold %}
        <div class="card-body bg-light">
            <h4 class="card-title">Getting Started with this tool?</h4>
            <p class="card-text">
            Once you are familiar with <a href="/ltl"> LTL syntax </a> used by this tool, we recommend starting with
            <a href="/entryexitticket/entry"> <button class="button btn-primary"> this exercise </button> </a>.
            </p>
        </div>
        {% elif misconception_count > threshold %}
        <div class="p-3 mb-2 mt-2">
            {% include max_misconception %}
        </div>
        {% endif %}


        <div class="card-body mt-1 mb-1"> 
            <a href="/exercise/generate"> <button class="btn btn-lg btn-primary btn-block"> Begin a new exercise </button> </a>
            <p class="card-text"> Exercises adapt in complexity and topic based on your previous responses. As your understanding
            of LTL improves, the exercises will become more challenging, and focus on areas where you need more practice.
            </p>
        </div>

        {% if misconception_count is defined and misconception_count < threshold %}
            <div class="alert-secondary alert">
                <strong> Still identifying areas for review</strong>
                <p>An area or concept for review will appear once you have completed a few more exercises.</p>
            </div>
        {% endif %}

    </div>
    {% include 'footer.html' %}

</body>

</html>