<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTL Tutor</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/common-functionality.js') }}"></script>
</head>

<body>

    
    <div class="container mt-4">

        {% include 'navbar.html' %}

        <h5> Load an Exercise from JSON</h5>
        <form id="exerciseForm" action="/exercise/predefined" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <textarea name="sourceuri" placeholder="Enter the public URI of your JSON exercise" class="form-control mt-2"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="mt-2">Or choose a pre-authored exercise:</p>
                        <ul>
                            <li class="alert-secondary" onclick="document.querySelector('textarea[name=sourceuri]').value = 'preload:robotrain.json';">Robotrain</li> 
                            <li class="alert-secondary" onclick="document.querySelector('textarea[name=sourceuri]').value = 'preload:lightpanel.json';">Light Panel</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-2">Load</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function changeAction() {
            var form = document.getElementById('exerciseForm');
            var select = document.getElementById('exerciseSelect');
            form.action = '/exercise/' + select.value;
        }
    </script>


</body>

</html>