<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTL Tutor: Model Report</title>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.1.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/common-functionality.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var ctx = document.getElementById('estimatedMisconceptions').getContext('2d');
            var misconceptionWeightChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ misconception_weights.keys() | list | tojson }},
            datasets: [{
                label: 'Estimated Weight',
                data: {{ misconception_weights.values() | list | tojson }},
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
                    }]
                },
            options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
            });
        });
    </script>







    <style>
        .infograph {
            max-width: 50vw;
            /* 80% of viewport width */
            max-height: 50vh;
            /* 80% of viewport height */
        }
    </style>
</head>

<body>






    <div class="container mt-4">
        {% include 'navbar.html' %}
        <div class="alert alert-primary" role="alert">
            <strong>This page is still under construction.</strong>
            While the data is real, the visualizations here are still in development.
        </div>





        <div class="container fluid">
            <h3 class="display-4">Question Complexity</h3>
            <p class="lead">Generated Exercises for you are being served at Complexity Score {{ complexity }} </p>
        </div>


        <div class="container-fluid">
            <div class="container">
                <h3 class="display-4">Estimated Distribution of Misconceptions</h3>
                <canvas id="estimatedMisconceptions"></canvas>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container">
                <h3 class="display-4">Misconceptions Identified Over Time</h3>
                <canvas id="misconceptionsSeenOverTime"></canvas>
                <script>
                    function getRandomColor() {
                        var r = Math.floor(Math.random() * 256);
                        var g = Math.floor(Math.random() * 256);
                        var b = Math.floor(Math.random() * 256);
                        return 'rgb(' + r + ', ' + g + ', ' + b + ')';
                    }

                    var ctx = document.getElementById('misconceptionsSeenOverTime').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ misconceptions_over_time.values() | map(attribute = '0') | flatten | list | tojson }},
                    datasets: [
                        {% for key, value in misconceptions_over_time.items() %}
                    {
                        label: '{{ key }}',
                            data: {{ value | map(attribute = '1') | list | tojson }},
                        fill: false,
                            borderColor: getRandomColor(),
                                tension: 0.1
                    },
                    {% endfor %}
                        ]
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'linear',
                                    beginAtZero: false,
                                        title: {
                                    display: true,
                                        text: 'Timestamp'
                                }
                            },
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                </script>
            </div>
        </div>
    </div>



</body>

</html>