<pre class="badge badge-light">[Version 0.1.3] <span id="userid_field"> </span> </pre>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">LTL Tutor</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/ltl">LTL Documentation</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/loadfromjson" aria-expanded="false">
                    Load an Exercise from JSON
                </a>
            </li> -->
            <li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Standard exercises
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/entryexitticket/entry">First Exercise (Entry Ticket)</a>
                    <a class="dropdown-item" href="/entryexitticket/exit">Last Exercise (Exit Ticket)</a>
                    <a class="dropdown-item" href="/loadfromjson"> Exercise Loader </a>
                </div>
            </li>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercise/generate" aria-expanded="false">
                    Generate Personalized Exercise
                </a>
            </li>
            <li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    View My
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/getmy/model">User Model</a>
                    <a class="dropdown-item" href="/getmy/logs">User Logs</a>
                </div>
            </li>
            </li>
            </li>
        </ul>
    </div>
</nav>

<div class="alert alert-primary alert-dismissible fade show d-none" role="alert" id="userIdModal">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>Welcome New User!</strong> This tool stores utilizes a browser cookie to maintain a user ID a across
    multiple uses.
    This ID is anonymous, non-reverse engineerable, and is not based on any personally identifiable information.
    We use this User ID to track responses to LTL exercises, and adaptively generate new exercises based on a user's
    responses.
    These responses may also be used for research purposes, but will not be shared with any third parties.

    By using this tool, you consent to this use of cookies and response storage. <strong>If you do not consent, please
        close this page, and do not use the tool.</strong>
    </p>
</div>


<!-- TODO: We should hide this once dismissed once -->

<footer class="footer mt-auto py-3 bg-light">
    <div class="container" id="subscribe">

    </div>


    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Get Notified of LTL Tutor updates!</strong>
        <p class="text-muted">
            We are constantly improving and updating LTL the Tutor, and we'd like to keep you in the loop.
            We promise not to send more than 2 updates a year, and we will never share your email with anyone else.
        </p>


        

        <div id="mc_embed_shell">
            <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    false;
                    clear: left;
                    font: 14px Helvetica, Arial, sans-serif;
                    width: 600px;
                }

                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form
                    action="https://xyz.us22.list-manage.com/subscribe/post?u=d56278851e4b3ed155b6886b5&amp;id=4d91c2dc5e&amp;f_id=0082c9e1f0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank">
                    <div id="mc_embed_signup_scroll">
                        <h2>Subscribe</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                    class="asterisk">*</span></label><input type="email" name="EMAIL"
                                class="required email" id="mce-EMAIL" required="" value=""></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            /* real people should not fill this in and expect good things - do not remove this or risk
                            form bot signups */
                            <input type="text" name="b_d56278851e4b3ed155b6886b5_4d91c2dc5e" tabindex="-1" value="">
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                    value="Subscribe">
                                <p style="margin: 0px auto;"><a href="http://eepurl.com/iQRtM2"
                                        title="Mailchimp - email marketing made easy and fun"><span
                                            style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                class="refferal_badge"
                                                src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                alt="Intuit Mailchimp"
                                                style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
            <script
                type="text/javascript">(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        </div>




    </div>
</footer>