<pre
    class="badge badge-light uidbadge"><span class="float-left">[Version {% include 'version.html' %}]</span> <span id="userid_field" class="float-right"> Logged in as {{uid}} </span> </pre>

    <div id="blogPostAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="lead">Want to know more about the LTL tutor? <a href="https://blog.brownplt.org/2024/08/08/ltltutor.html">Read this blog post!</a></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const alertDiv = document.getElementById('blogPostAlert');
    
            // Check if the alert has been dismissed before
            if (localStorage.getItem('blogPostAlertDismissed') === 'true') {
                alertDiv.style.display = 'none';
            }
    
            // Add event listener to the close button
            alertDiv.querySelector('.close').addEventListener('click', function () {
                localStorage.setItem('blogPostAlertDismissed', 'true');
            });
        });
    </script>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">Tutor Dashboard</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/ltl" target="_blank">LTL Syntax</a>
            </li>


            <!-- Combined Dropdown for Generate Exercise and Syntax Choice -->
            <li class="nav-item">
                <a class="nav-link" href="/exercise/generate" >Generate Exercise</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="generateExerciseDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   (<span id="currentLtlSyntax">Classic</span> syntax)
                </a>
                <div class="dropdown-menu" aria-labelledby="generateExerciseDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/exercise/generate" onclick="setLtlSyntax('Classic')">Generate Exercise (Classic syntax)</a>
                    <a class="dropdown-item" href="/exercise/generate" onclick="setLtlSyntax('Forge')">Generate Exercise (Forge syntax)</a>
                    <a class="dropdown-item" href="/exercise/generate" onclick="setLtlSyntax('Electrum')">Generate Exercise (Electrum syntax)</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/instructor/home" aria-expanded="false">
                    Instructor Dashboard
                </a>
            </li>

            <li>
                <a class="nav-link" href="/profile" aria-expanded="false">
                    Profile
                </a>
            </li>


            {% if uid %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- JavaScript to set the ltlsyntax cookie -->
<script>
    // Function to get the value of a cookie by name
    function setLtlSyntax(syntax) {
        document.cookie = "ltlsyntax=" + syntax + "; path=/";
        document.getElementById('currentLtlSyntax').innerText = syntax;
    }

    // Function to get the value of a cookie by name
    function getCookie(name) {
        let cookieArr = document.cookie.split(";");
        for (let i = 0; i < cookieArr.length; i++) {
            let cookiePair = cookieArr[i].split("=");
            if (name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }

    // Set the initial value of the dropdown based on the cookie
    document.addEventListener('DOMContentLoaded', (event) => {
        let currentSyntax = getCookie('ltlsyntax');
        if (currentSyntax) {
            document.getElementById('currentLtlSyntax').innerText = currentSyntax;
        }
        else {
            setLtlSyntax('Classic');
        }
    });
    </script>

<!-- Generic Modal -->
<div class="modal fade" id="genericHelpModal" tabindex="-1" role="dialog" aria-labelledby="genericHelpModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" >Help</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content will be loaded dynamically -->
            </div>
        </div>
    </div>
</div>


