<div class="card">
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  <div class="card-body">
    <h4 class="card-title">Next 
      <span class="badge badge-pill badge-primary float-right">Review</span>
    </h4>
    <p class="card-text"> 
      Some learners mistakenly believe that the next (<code>X</code>) operator in LTL can apply to multiple states or 
      spread its effect across a range of states. However, this is not true. The <code>X</code> operator is very precise: 
      it applies strictly to the immediate next state and nothing else.
      <br><br>
      For example, the formula <code>X (X p)</code> means that <code>p</code> holds two states from now. It does not 
      imply anything about <code>p</code> holding in the current state, the immediate next state, or any state beyond 
      the two-step distance specified.
      <br><br>
      Another way to think of this is that the next operator does not fan out its effect;
      it's not about a condition holding over a range of states or eventually. It applies strictly to the very next
      state.
    </p>
  </div>
</div>
