<div class="card">
  <div class="card-body">
    <h4 class="card-title">Until 
      <span class="badge badge-pill badge-primary float-right">Refutation</span>
    </h4>
    <p class="card-text">
      You might think that {{ ltl_code('x U y') }} (Until) is satisfied only when both the right subterm {{ ltl_code('y') }}
      and the negation of the left subterm {{ ltl_code('x') }} hold true.
      However, the "Until" operator is more permissive than this.
      In fact, it only requires that {{ ltl_code('x') }} holds true at every step until {{ ltl_code('y') }}
      becomes true. Once {{ ltl_code('y') }} holds, it doesn't matter whether {{ ltl_code('x') }} is true or false.

      <br>
      To put it another way: {{ ltl_code('y') }} eventually becomes true at some point in the future, and <i>until</i>
      that moment, {{ ltl_code('x') }} must continuously hold true.
      This does not require {{ ltl_code('x') }} to stop being true at the same time that {{ ltl_code('y') }} becomes true.
      <br>
      For example, consider the following trace that satisfies the formula {{ ltl_code('x U y') }}, even though {{ ltl_code('x') }} is true at the same time as {{ ltl_code('y') }}:
      <div class="trace-diagram" data-trace='{"prefix": [{"label": "x\u2003\u00acy"}, {"label": "x\u2003y"}], "cycle": [{"label": "\u00acx\u2003\u00acy"}]}'></div>
      This shows that {{ ltl_code('x') }} can still hold true when {{ ltl_code('y') }} is satisfied, as long as {{ ltl_code('x') }} holds up until {{ ltl_code('y') }} does.
    </p>
  </div>
</div>
