<div class="card">

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>

    <div class="card-body">
      <h4 class="card-title">Finally 
        <span class="badge badge-pill badge-primary float-right">Review</span>
      </h4>
      <p class="card-text">

        In LTL, the formula <code>F p</code> asserts that <code>p</code> will eventually be true.
        This means that <code>p</code> can be true in the current state, but it doesn't have to be. 
        
        What <em>is</em> required is that <code>p</code> becomes true at least once in any future state, including potentially the present state.
        <br>
        Importantly, <code> F p</code> doesn't specify when <code>p</code> will become true, only that it will 
        definitely become true. Thus both these traces satisfy <code>F p</code>:


        <pre class="mermaid"> 
            flowchart LR;
            n1["!p"]-->n2["p"];
            n2["p"]-->n2["p"];  
        </pre>


        <pre class="mermaid"> 
            flowchart LR;
            n1["!p"]-->n2["!p"];
            n2["!p"]-->n3["!p"];
            n3["!p"]-->n4["p"];
            n4["p"]-->n3["!p"];
        </pre>

      </p>

    </div>
  </div>
  