<div class="card">

  <div class="card-body">
    <h4 class="card-title">Globally
      <span class="badge badge-pill badge-primary float-right">Review</span>
    </h4>
    <p class="card-text"> You might believe that the {{ ltl_code('G p', operator_only=True) }} (Globally) operator implicitly
      applies at some point in time, meaning it automatically holds at a specific state.
      However, the {{ ltl_code('G p', operator_only=True) }} operator has a stronger implication: it asserts that the proposition
      {{ ltl_code('G x') }} must hold true at every future state, starting from the current one and
      onward. In contrast, simply stating {{ ltl_code('x') }} only requires that {{ ltl_code('x') }} be true
      in the current state, with no guarantee or constraint on future states.
      <br><br>
      For example, if {{ ltl_code('x') }} represents <i>'the system is secure'</i>,
      the statement {{ ltl_code('x') }} means that the system is secure in the current state,
      but it doesn't ensure that the system will remain secure in the future.
      The statement {{ ltl_code('G x') }}, however, asserts that the system is secure in the current
      state and will remain secure in every future state.
    </p>

  </div>
</div>
