<div class="card">

    <div class="card-body">
      <h4 class="card-title">Finally 
        <span class="badge badge-pill badge-primary float-right">Review</span>
      </h4>
      <p class="card-text">

        It may be the case that you believe the <code>F</code> (finally) operator implicitly applies at some state, 
        meaning it will automatically trigger at a particular point in time. 

        However, the <code>F</code> operator has a different meaning in LTL.
        It asserts that <code>p</code> will eventually be true, but it doesn't specify \emph{when}. 

        <br>
        What <em>is</em> required is that <code>p</code> becomes true at least once in any future state, 
        including potentially the present state.
        Importantly, <code> F p</code> doesn't specify when <code>p</code> will become true, only that it will 
        definitely become true. Thus both these traces satisfy <code>F p</code>:


        <div class="trace-diagram" data-trace='{"prefix": [{"label": "\u00acp"}], "cycle": [{"label": "p"}]}'></div>


        <div class="trace-diagram" data-trace='{"prefix": [{"label": "\u00acp"}, {"label": "\u00acp"}], "cycle": [{"label": "\u00acp"}, {"label": "p"}]}'></div>

      </p>

    </div>
  </div>
  