<div class="card">

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>

    <div class="card-body">
      <h4 class="card-title">Be mindful of operator precedence
        <span class="badge badge-pill badge-primary float-right">Tip</span>
      </h4>
      <p class="card-text">
        In the absence of parentheses, it is important to be wary of operator precedence and associativity rules.
        <ul >
            <li > Unary operators (<code>X</code>, <code>F</code>, <code>G</code>, <code>!</code>)
                 have the highest precedence and will bind tightly to the formula that immediately follows them.
            </li>

            <li > Binary operators (<code>&</code>,<code>|</code>,<code>-></code>,<code><-></code>,<code>U</code>)
                are left associative. This means that in expressions involving multiple operators, the operations are grouped from left to right. <br>
                For instance, an expression like <code>a | b & c -> d</code> would be interpreted as <code>((a | b) & c) -> d</code>.
            </li>
        </ul>

      </p>
    </div>
  </div>
  