<div class="card">
    <div class="card-body">
      <h4 class="card-title">Review: Until (<code>U</code>)  </h4>
      <p class="card-text">

        In LTL, <code>x U y</code> means that <code>x</code> holds at every step until 
       <code>y</code> becomes true. Importantly, <code>x U y</code> guarantees that there
       is a time in the future when <code>y</code> becomes true. 
       Similarly, <code>x U y</code> guarantees that <code>x</code> holds at the current state.
      </p>

    </div>
  </div>
  