<div class="card">
    
    <div class="card-body">
      <h4 class="card-title">
        Until
        <span class="badge badge-pill badge-primary float-right">Review</span>
      </h4>
      
      <p class="card-text mt-3">

        You may think that if {{ ltl_code('x') }} is always true,
        the formula {{ ltl_code('x U y') }} ("x until y") is always satisfied,
        even if {{ ltl_code('y') }} is never true.

        <br><br>
        
        In reality, {{ ltl_code('x U y') }} states two things:
        <ul>
          <li> {{ ltl_code('x') }} holds at every moment in time until {{ ltl_code('y') }} becomes true.
            This means the {{ ltl_code('x') }} must be true at the current state.
          </li>
          <li> {{ ltl_code('y') }} will eventually become true at some point in the future.</li>
        </ul>
        What this means is that if {{ ltl_code('y') }} never becomes true,
        then {{ ltl_code('x U y') }} is false, regardless of whether {{ ltl_code('x') }} holds for all preceding moments.
      </p>
    </div>
  </div>
