<!DOCTYPE html>
<html>

<head>
    <title>LTL Tutor: Login</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <meta name="description" content="Learn Linear Temporal Logic (LTL) with this interactive tutor.">

</head>

<body>
    <div class="container mt-5">
        <div>
        <p class="text-center mt-2 mb-2">
            LTLTutor is built and maintained by the <a href="https://cs.brown.edu/research/plt/">PLT Group at
                Brown University</a>. We may use your responses to exercises for research purposes, but will not share
            responses
            with any third parties. By using this tool, you consent to this use of your responses.
            If you do not consent, please close this page, and do not use the LTL Tutor.
            </p>
            <hr class="my-4">
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <div>
                <form action="/login" method="POST">
                    <input type="hidden" name="user_type" value="anonymous-student">
                    <input type="submit" value="Quick Start" class="btn btn-primary btn-lg btn-block">
                    <p class="text-muted">
                        'Quick Start' lets you use the LTL tutor without creating an account.
                        However, you will not have access to your account on other devices and browsers.
                    </p>
                </form>
            </div>
        </div>

        <hr class="my-4">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}



        <p class="lead toggle-arrow collapsed" data-toggle="collapse" href="#collapseCourseCode" role="button"
            aria-expanded="false" aria-controls="collapseCourseCode">
            Have a course code?
        </p>
        <div class="collapse" id="collapseCourseCode">
            <form action="/login" method="POST">

                <p class="text-muted"> If you are using this tutor as part of a course, you can login as a student using
                    your instructor-provided username and course code. </p>
                <input type="hidden" name="user_type" value="course-student">

                <div class="form-group row">
                    <label for="username-student" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" id="username-student" name="username" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="course_id" class="col-sm-2 col-form-label">Course:</label>
                    <div class="col-sm-10">
                        <input type="text" id="course_id" name="course_id" class="form-control" required>
                    </div>
                </div>

                <input type="submit" value="Login as a Student" class="btn btn-primary">

            </form>
        </div>

        <hr class="my-2">
        <p class="lead toggle-arrow collapsed" data-toggle="collapse" href="#collapseInstructorLogin" role="button"
            aria-expanded="false" aria-controls="collapseInstructorLogin">
            Instructor Login
        </p>
        <div class="collapse" id="collapseInstructorLogin">
            <form action="/login" method="POST">
                <p class="text-muted">
                    Don't have an instructor account? <a href="/signup" class="btn btn-outline-primary">Sign up here</a>
                </p>
                <input type="hidden" name="user_type" value="course-instructor">

                <div class="form-group row">
                    <label for="instr-username" class="col-sm-2 col-form-label">Username:</label>
                    <div class="col-sm-10">
                        <input type="text" id="instr-username" name="username" class="form-control" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="instr-password" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" id="instr-password" name="password" class="form-control" required>
                    </div>
                </div>

                <input type="submit" value="Login" class="btn btn-primary">
            </form>
        </div>

    </div>
    {% include 'footer.html' %}
</body>

</html>