<!DOCTYPE html>
<html>

<head>
    <title>LTL Tutor: Signup</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="description" content="Learn Linear Temporal Logic (LTL) with this interactive tutor.">
</head>

<body>
    <h1>Signup</h1>
    <div class="container">

        <!-- TODO: Rewrite and rebuild -->
        <strong>Welcome New User!</strong> This tool utilizes a browser cookie to maintain a User ID across
        multiple uses.
        This ID is anonymous, not reverse-engineerable, and is not based on any personally identifiable information.
        We use this User ID to track responses to LTL exercises and adaptively generate new exercises.
        We may use responses for research purposes, but we will not share responses with any third parties.

        By using this tool, you consent to this use of cookies and response storage. <strong>If you do not consent,
            please
            close this page, and do not use the tool.</strong>

    </div>
    <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Signup">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</body>

</html>