<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTL Tutor</title>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@1.1.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/common-functionality.js') }}"></script>
    <meta name="description" content="Learn Linear Temporal Logic (LTL) with this interactive tutor.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

</head>

<body>


    <div class="container">
        {% include 'navbar.html' %}


        <a href="/view/logs" class="btn btn-primary">View Logs</a>
        <a href="/view/generatedexercises" class="btn btn-primary">View Generated Exercises</a>


        {% for misconception, weights in misconception_weights_over_time.items() %}

            {% if weights|length > 0 %}

            <div>
                <h4> Estimated occurance of {{misconception}} over time </h4>
                <canvas id="estimatedMisconceptions{{misconception}}"></canvas>


                <script>
                    var ctx = document.getElementById('estimatedMisconceptions{{ misconception }}').getContext('2d');
                    var weightsData = {{ weights|tojson }};
                    var labels = weightsData.map(function(weight) { return weight[0]; });
                    var dataPoints = weightsData.map(function(weight) { return weight[1]; });

                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: '{{ misconception }}',
                                data: dataPoints,
                                fill: false,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1
                            }]
                        },
                        options: {
                        scales: {
                            x: {
                                type: 'linear',
                                    beginAtZero: false,
                                        title: {
                                    display: true,
                                        text: 'Timestamp'
                                }
                            },
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                    });
                </script>
            </div>

            {% endif %}
        {% endfor %}


    </div>
    {% include 'footer.html' %}

</body>

</html>